.card {
    padding-top: 100px;
    background-color: rgb(83, 81, 81);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    border: 4px solid black;
    text-align: center;
    justify-content: center;
    height: 430px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(116, 9, 9, 0.5);
    background-color: #030303; /* Change background color on hover */
    border-color: white;
}

.card_icon {
    font-size: 48px;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
}

.card_title {
    font-size: 24px;
    color: #f4bb44;
    margin-bottom: 10px;
}

.card_description {
    font-size: 16px;
    /* margin-bottom: 20px; */
    /* color: black; */
 
}

.card_link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-style: none;
}

.card button {
    background-color: black;
    color: white;
    padding: 10px 15px; /* Optional: Add some padding for button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.card button:hover {
    background-color: #f4bb44; /* Change button background color on hover */
    color: black; /* Change text color on hover */
}
